:root {
    --font-size: 3.125rem;
    --line-height: 1.5;
    --container-height: calc(var(--font-size) * var(--line-height));
    --slide-amount: calc(0rem - var(--container-height));
}

body {
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
    transition: background-color 0.5s ease;
}

h1 {
    font-size: 3.125rem;
    margin: 20px;
    font-weight: 500;
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0);
    }
    15% {
        -webkit-transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(var(--slide-amount));
    }
    35% {
        -webkit-transform: translateY(var(--slide-amount));
    }
    40% {
        -webkit-transform: translateY(calc(var(--slide-amount) * 2));
    }
    55% {
        -webkit-transform: translateY(calc(var(--slide-amount) * 2));
    }
    60% {
        -webkit-transform: translateY(calc(var(--slide-amount) * 3));
    }
    75% {
        -webkit-transform: translateY(calc(var(--slide-amount) * 3));
    }
    80% {
        -webkit-transform: translateY(calc(var(--slide-amount) * 4));
    }
    95% {
        -webkit-transform: translateY(calc(var(--slide-amount) * 4));
    }
    100% {
        -webkit-transform: translateY(calc(var(--slide-amount) * 5));
    }
}

@keyframes slideUp {
    0%,
    15% {
        transform: translateY(0);
    }
    20%,
    35% {
        transform: translateY(var(--slide-amount));
    }
    40%,
    55% {
        transform: translateY(calc(var(--slide-amount) * 2));
    }
    60%,
    75% {
        transform: translateY(calc(var(--slide-amount) * 3));
    }
    80%,
    95% {
        transform: translateY(calc(var(--slide-amount) * 4));
    }
    100% {
        transform: translateY(calc(var(--slide-amount) * 5));
    }
}

@media only screen and (max-width: 820px) {
    :root {
        --font-size: 2rem;
        --line-height: 1.5;
        --container-height: calc(var(--font-size) * var(--line-height));
        --slide-amount: calc(0rem - var(--container-height));
    }

    .container {
        max-width: 1080px;
        font-size: var(--font-size);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text-carousel {
        line-height: var(--line-height);
        margin: 0;
    }

    .default-text {
        display: inline-block;
        height: var(--container-height);
        vertical-align: middle;
        margin-right: 1rem;
    }

    .change-text {
        color: #000000;
        display: inline-block;
        height: var(--container-height);
        overflow: hidden;
        vertical-align: middle;
    }

    .container {
        width: 60vw;
    }

    p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 420px) {
    .container {
        width: 90vw;
    }
}
